.collection-item {
    width: 22vw;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative; // to help keep the add to cart button near the bottom of the image 
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
  
    .custom-button{ // custom button takes up 80% of the colleciton item image
      width:80%;
      opacity: 0.7;
      position: absolute; // we want the button to always be positioned at the bottom of image
      top:255px; // button down 255 px from the top of the image, i think?
      display: none; // as we want the button to be hidden until we hover
    }
      // and then when we hover...
      &:hover{
        .image{
          opacity: 0.8; // change the image opacity to 0.8
        }
        .custom-button{
          opacity:0.85; // change the button opacity
          display: flex; // actually show the damn button 
        }
      }
    

    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }
    }
  }
  